$primary-colorr: #957dad;
$secondary-color: #d291bc;
$bg-color: #ffdfd3;

body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: $bg-color;
    color: $primary-colorr;
    font-family: 'Montserrat', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.btn-container {
    display: flex;
    justify-content: space-between;
}
